<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/']" (click)="scrollToSection($event, '/')">
        <img [src]="logoSrc" alt="ColorsBarServices" />
      </a>
    </div>

    <div class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li>
        <a
          [routerLink]="['/']"
          [class.active]="activeSection === 'home'"
          (click)="scrollToSection($event, 'home')"
          >Home</a
        >
      </li>
      <li>
        <a 
          href="#services" 
          [class.active]="activeSection === 'services'"
          (click)="scrollToSection($event, 'services')"
          >Services</a
        >
      </li>
      <li>
        <a 
          href="#gallery" 
          [class.active]="activeSection === 'gallery'"
          (click)="scrollToSection($event, 'gallery')"
          >Gallery</a
        >
      </li>
      <li>
        <a 
          href="#contact" 
          [class.active]="activeSection === 'contact'"
          (click)="scrollToSection($event, 'contact')"
          >Contact</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/about']"
          [class.active]="activeSection === 'about'"
          (click)="isMenuOpen = false"
          >About</a
        >
      </li>
    </ul>
  </div>
</nav>
