<div class="about-container">
  <div class="container">
    <h1>About Our Bar Services</h1>

    <div class="about-content">
      <div class="about-image">
        <img
          src="assets/img/carrousel/pic_5.jpg"
          alt="About Our Bar Services"
        />
      </div>

      <div class="about-text">
        <h2>Colors Bar Services – Arta ospitalității la superlativ</h2>
        <p>
          Colors Bar Services a luat naștere în 2014 din dorința de a transforma
          serviciul de cocktail bar pentru evenimente într-o experiență
          spectaculoasă. Am început cu pasiune, creativitate și dorința de a
          oferi mai mult decât un simplu bar – un adevărat spectacol al aromelor
          și mixologiei.
        </p>

        <h2>Servicile noastre</h2>
        <p>
          În 2018, am dus experiența la un nou nivel prin lansarea diviziei Ice
          Delivery, dedicată furnizării de gheață premium, esențială pentru
          băuturi perfecte. De-a lungul anilor, portofoliul nostru s-a extins
          pentru a oferi o soluție completă pentru orice eveniment. Astăzi,
          alături de Cocktail Bar și Ice Delivery, venim cu Bar Logistic, Colors
          Juice, Kids Party și Coffee Corner, fiecare divizie fiind gândită
          pentru a aduce un plus de rafinament și profesionalism fiecărui
          eveniment.
        </p>

        <h2>De ce noi?</h2>
        <p>
          Indiferent dacă organizezi o petrecere privată, un eveniment corporate
          sau o nuntă, suntem partenerul ideal care îți transformă ideile în
          realitate. De la cocktailuri creative și gheață premium până la cafea
          de specialitate și soluții logistice pentru bar, Colors Bar Services
          este alegerea completă pentru o experiență memorabilă
        </p>
      </div>
    </div>
  </div>
</div>
