<section id="services">
  <div class="container">
    <h2 class="section-title">Our services</h2>
    <div class="services-grid">
      @for(service of services; track $index){
      <div
        class="service-card"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="$index * 100"
      >
        <div class="service-image">
          <img [src]="service.image" [alt]="service.title" />
        </div>
        <div class="service-content">
          <h3>{{ service.title }}</h3>
          <p class="text-overflow">{{ service.description }}</p>
          <button class="service-btn" [ngClass]="getServiceClass(service.title)" (click)="handleLearnMore(service)">Learn more</button>
        </div>
      </div>
      }
    </div>
  </div>
</section>
